In [1]:
# #Import pandas package as pd
import pandas as pd

#create a dictionary of the data
Cars = {
        'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

#make a dataframe as df
df = pd.DataFrame(Cars)

#to print the head of the dataframe
df.head()

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [3]:
df.to_csv(r'C:\Users\user\Desktop\cars.csv')