In [14]:
# #Import pandas package as pd
import pandas as pd

#create a dictionary of the data
Bike = {
        'bikes': ['Yamaha R1','Hero Hunk','KTM RC','Kawasaki Ninja'],
        'Price': [220000,251000,270400,350500]
        }

#make a dataframe as df
df = pd.DataFrame(Bike)

#to print the head of the dataframe
df.head()

            bikes   Price
0       Yamaha R1  220000
1       Hero Hunk  251000
2          KTM RC  270400
3  Kawasaki Ninja  350500

In [17]:
df.to_csv('C:\Users\user\Desktop\bikes.csv', index=False)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-17-7e855c1400f0>, line 1)