In [2]:
import pandas as pd

In [3]:
timetable = { 
            'day' : ['mon','tues','wed','thurs','fri', 'sat'],
            'No_classes' : [4, 5, 6, 3, 3, 2],
            'free_periods' : [3, 4, 5, 6, 1, 2],
}

In [4]:
df = pd.DataFrame(timetable)

In [5]:
df.head()

     day  No_classes  free_periods
0    mon           4             3
1   tues           5             4
2    wed           6             5
3  thurs           3             6
4    fri           3             1

In [6]:
df.to_csv('tt.csv', header=False, index=False)